<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jadwal ASDOS</title>
    <link rel="stylesheet" href="/includes/css/css asdos/jadwal-asdos.css" />
    <script>
      
      
      function Logout(){
        window.location.href="/";
      }
      function openDaftarAsdos() {
        window.location.href = "/daftar-asdos";
      }

      function openJadwalAsdos() {
        window.location.href = "/jadwal-asdos";
      }

      function openHomeAsdos(){
        window.location.href = "/home-asdos";
      }

      function openProfileAsdos() {
        window.location.href = "/profil-asdos";
      }

      function openModal() {
        document.getElementById("myModal").style.display = "block";
      }

      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }

      function submitFormTambah() {
        var selectedHari = document.getElementById("dropDownHari").value;
        var selectedJamMulai = parseFloat(
          document.getElementById("dropDownJamMulai").value
        );
        var selectedJamSelesai = parseFloat(
          document.getElementById("dropDownJamSelesai").value
        );

        highlightCell(selectedHari, selectedJamMulai, selectedJamSelesai);

        closeModal();
      }

      function submitFormHapus() {
        var selectedHari = document.getElementById("dropDownHariHapusJadwal").value;
        var selectedJamMulai = parseFloat(
          document.getElementById("dropDownJamMulaiHapusJadwal").value
        );
        var selectedJamSelesai = parseFloat(
          document.getElementById("dropDownJamSelesaiHapusJadwal").value
        );

        removeHighlightCell(selectedHari, selectedJamMulai, selectedJamSelesai);

        closeModal2();
      }

      // function clearHighlightedCells() {
      //     var highlightedCells = document.querySelectorAll('.highlighted');
      //     highlightedCells.forEach(function (cell) {
      //         cell.classList.remove('highlighted');
      //     });
      // }

      function highlightCell(hari, jamMulai, jamSelesai) {
        var table = document.querySelector("table");
        var columnIndex = getColumnIndex(hari);

        var startRowIndex = jamMulai - 7;
        var endRowIndex = jamSelesai - 7;

        for (var row = startRowIndex; row <= endRowIndex; row++) {
          var cellId = "row" + (row + 7) + "col" + columnIndex;
          var cell = document.getElementById(cellId);

          if (!cell.classList.contains("highlighted")) {
            cell.classList.add("highlighted");
            highlightCellArray.push(cell);
          }
        }
      }

      function removeHighlightCell(hari, jamMulai, jamSelesai) {
        var table = document.querySelector("table");
        var columnIndex = getColumnIndex(hari);
        var startRowIndex = jamMulai - 7;
        var endRowIndex = jamSelesai - 7;

        for (var row = startRowIndex; row <= endRowIndex; row++) {
          var cellId = "row" + (row + 7) + "col" + columnIndex;
          var cell = document.getElementById(cellId);

          if (cell && cell.classList.contains("highlighted")) {
            //menghapus jadwal
            cell.classList.remove("highlighted");
            cell.style.backgroundColor = "white";
            highlightCellArray = highlightCellArray.filter(function (highlightedCell) {
                return highlightedCell.id !== cellId;
            });
          }
        }
      }

      function getColumnIndex(hari) {
        switch (hari) {
          case "monday":
            return 2;
          case "tuesday":
            return 3;
          case "wednesday":
            return 4;
          case "thursday":
            return 5;
          case "friday":
            return 6;
          case "saturday":
            return 7;
          default:
            return -1;
        }
      }
    </script>
    <style>
      .highlighted {
        background-color: blue;
      }
    </style>
  </head>

  <body>
    <!-- Navigation Bar -->
    <div class="navRectangle">
      <nav class="navigationBar">
        <div id="borderNavHomeAsdos">
          <a href="#" class="navigationHomeAsdos" onclick="openHomeAsdos()">
            <img src="/includes/images/home icon.png" alt="Navigation Home" />
            <span>Home</span>
          </a>
        </div>

        <div id="borderNavProfileAsdos">
          <a
            href="#"
            class="navigationProfileAsdos"
            onclick="openProfileAsdos()"
          >
            <img
              src="/includes/images/profile navigation icon.png"
              alt="Navigation Profile Asdos"
            />
            <span>Profile</span>
          </a>
        </div>

        <div id="borderNavDaftarAsdos">
          <a href="#" class="navigationDaftarAsdos" onclick="openDaftarAsdos()">
            <img
              src="/includes/images/icon daftar asdos.png"
              alt="Navigation Daftar Asdos"
            />
            <span>Daftar</span>
          </a>
        </div>

        <div id="borderNavJadwalAsdos">
          <a href="#" class="navigationJadwalAsdos" onclick="openJadwalAsdos()">
            <img
              src="/includes/images/icon jadwal.png"
              alt="Navigation Jadwal Asdos"
            />
            <span>Jadwal</span>
          </a>
        </div>

        <div id="borderNavLogOutAsdos">
          <a href="#" class="navigationLogOutAsdos" onclick="Logout()">
            <img
              src="/includes/images/log out.png"
              alt="Navigation Logout Asdos"
            />
            <span>Logout</span>
          </a>
        </div>
      </nav>
    </div>
    <!-- Navigation Bar -->

    <div class="container">
      <h2 style="color: white">
        Silahkan Masukan Jadwal Kuliah Anda Semester ini :
      </h2>
      <div class="master">
        <button id="buttonTambahJadwal" onclick="openModal()" type="button">
          + Tambah Jadwal
        </button>
        <button id="buttonHapusJadwal" onclick="openModal2()" type="button">
          Hapus Jadwal
        </button>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <div id="bottomBorderMain"></div>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 7; i <= 17; i++) { %>
              <tr id="row<%= i %>">
                <td id="row<%= i %>col1"><%= i %>.00</td>
                <% const weekdays = ['', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'] %>
                <% for (let j = 1; j <= 7; j++) { %>
                  <% try { 
                    const schedule = scheduleData.find(entry => entry.day_of_week=== weekdays[j] && 
                                                                (entry.start_time) <= i && 
                                                                (entry.end_time) >= i);
                    if (schedule) { %>
                      <td id="row<%= i %>col<%= j + 1 %>" style="background-color: blue; display: block;">MK</td>
                    <% } else { %>
                      <td id="row<%= i %>col<%= j + 1 %>"></td>
                    <% } 
                  } catch (e) { %>
                    <td id="row<%= i %>col<%= j + 1 %>">Error: <%= e.message %></td>
                  <% } %>
                <% } %>
              </tr>
            <% } %>            
          </tbody>             
        </table>
      </div>
    </div>

    <!--Modal Tambah Jadwal -->
    <div id="myModalTambahJadwal" class="modalTambahJadwal">
      <form action="/submitSchedule" method="POST">
      <div class="classHari">
        <label for="Hari">Hari:</label>
        <select id="dropDownHari" name="day_of_week">
          <option value="monday">Monday</option>
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option value="friday">Friday</option>
          <option value="saturday">Saturday</option>
        </select>
      </div>

      <div class="classJamMulai">
        <label for="jamMulai">Jam Mulai:</label>
        <select id="dropDownJamMulai" name="start_time">
          <option value="7">07.00</option>
          <option value="8">08.00</option>
          <option value="9">09.00</option>
          <option value="10">10.00</option>
          <option value="11">11.00</option>
          <option value="12">12.00</option>
          <option value="13">13.00</option>
          <option value="14">14.00</option>
          <option value="15">15.00</option>
          <option value="16">16.00</option>
        </select>
      </div>

      <div class="classJamSelesai">
        <label for="jamSelesai">Jam Selesai:</label>
        <select id="dropDownJamSelesai" name="end_time">
          <option value="8">08.00</option>
          <option value="9">09.00</option>
          <option value="10">10.00</option>
          <option value="11">11.00</option>
          <option value="12">12.00</option>
          <option value="13">13.00</option>
          <option value="14">14.00</option>
          <option value="15">15.00</option>
          <option value="16">16.00</option>
          <option value="17">17.00</option>
        </select>
      </div>
      <input type="hidden" name="user_id" value="<%= user_id %>">
      <button onclick="submitFormTambah()">Submit</button>
      <button id="buttonClose1" onclick="closeModal()">Close</button>
      </form>
    </div>

    <!--Modal Hapus Jadwal -->
    <div id="myModalHapusJadwal" class="modalHapusJadwal">
      <form action="/removeSchedule" method="POST">
        <div class="classHari">
          <label for="Hari">Hari:</label>
          <select id="dropDownHariHapusJadwal" name="day_of_week">
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
            <option value="thursday">Thursday</option>
            <option value="friday">Friday</option>
            <option value="saturday">Saturday</option>
          </select>
        </div>
  
        <div class="classJamMulai">
          <label for="jamMulaiHapusJadwal">Jam Mulai:</label>
          <select id="dropDownJamMulaiHapusJadwal" name="start_time">
            <option value="7">07.00</option>
            <option value="8">08.00</option>
            <option value="9">09.00</option>
            <option value="10">10.00</option>
            <option value="11">11.00</option>
            <option value="12">12.00</option>
            <option value="13">13.00</option>
            <option value="14">14.00</option>
            <option value="15">15.00</option>
            <option value="16">16.00</option>
          </select>
        </div>
  
        <div class="classJamSelesai">
          <label for="jamSelesaiHapusJadwal">Jam Selesai:</label>
          <select id="dropDownJamSelesaiHapusJadwal" name="end_time">
            <option value="8">08.00</option>
            <option value="9">09.00</option>
            <option value="10">10.00</option>
            <option value="11">11.00</option>
            <option value="12">12.00</option>
            <option value="13">13.00</option>
            <option value="14">14.00</option>
            <option value="15">15.00</option>
            <option value="16">16.00</option>
            <option value="17">17.00</option>
          </select>
        </div>
        <input type="hidden" name="user_id" value="<%= user_id %>">
        <button onclick="submitFormHapus()">Submit</button>
        <button id="buttonClose2" onclick="closeModal2()">Close</button>
      </div>
    </form>
    <script>
    
    var highlightCellArray = [];
      
      function openModal() {
        document.getElementById("myModalTambahJadwal").style.display = "block";
      }
      function closeModal() {
        document.getElementById("myModalTambahJadwal").style.display = "none";
      }
    
      function openModal2() {
        document.getElementById("myModalHapusJadwal").style.display = "block";
      }
    
      function closeModal2() {
        document.getElementById("myModalHapusJadwal").style.display = "none";
      }
    
    </script>
  </body>
</html>


