<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Dosen</title>
    <link rel="stylesheet" href="/includes/css/css dosen lab/profiledosenlab.css">
    <script>
        function openAsistenDosen() {
            window.location.href = '/AsistenDosen';
        }

        function openMatakuliah() {
            window.location.href = '/Matakuliah';
        }

        function openProfileDosen(){
            window.location.href = "/profil-dosen"
        }

        function openHomeDosen(){
            window.location.href = "/home-dosen"
        }
    </script> 
</head>

<body>
            <!-- Navigation Bar -->
            <div class="navRectangle">
                <nav class="navigationBar">
                    <div id="borderNavHomeAsdos">
                        <a href="#" class="navigationHomeAsdos" onclick="openHomeDosen()">
                            <img src="/includes/images/home icon.png" alt="Navigation Home">
                            <span>Home</span>
                        </a>
                    </div>
        
                    <div id="borderNavProfileAsdos">
                        <a href="#" class="navigationProfileAsdos" onclick="openProfileDosen()">
                            <img src="/includes/images/profile navigation icon.png" alt="Navigation Profile Asdos">
                            <span>Profile</span>
                        </a>
                    </div>
        
                    <div id="borderNavMataKuliah">
                        <a href="#" class="navigationMataKuliah" onclick="openMatakuliah()">
                            <img src="/includes/images/icon daftar asdos.png" alt="Navigation Mata Kuliah">
                            <span>Mata Kuliah</span>
                        </a>
                    </div>
        
                    <div id="borderNavJadwalAsdos">
                        <a href="#" class="navigationJadwalAsdos" onclick="openAsistenDosen()">
                            <img src="/includes/images/icon jadwal.png" alt="Navigation Jadwal Asdos">
                            <span>Asisten Dosen</span>
                        </a>
                    </div>
        
                    <div id="borderNavLogOutAsdos">
                        <a href="login-asdos.html" class="navigationLogOutAsdos">
                            <img src="/includes/images/log out.png" alt="Navigation Logout Asdos">
                            <span>Logout</span>
                        </a>
                    </div>
                </nav>
            </div>
            <!-- Navigation Bar -->

    <div class="container">
        <div class="rectangle">
            <h1 id="profil">Profile Dosen</h1>
            <div class="line"></div>
            <div class="nama">
                <p><%= dosen.nama %></p>
            </div>
            <div class="spacer-line"></div>
            <div class="profile-details">
                <div>
                    <p>NIDN</p>
                    <p>Jenis Kelamin</p>
                    <p>Tempat, Tanggal Lahir</p>
                    <p>Program Studi</p>
                    <p>Alamat</p>
                </div>

                <div>
                    <p><%= dosen.nidn %></p>
                    <p><%= dosen.jenisKelamin %></p>
                    <p><%= dosen.tempatTanggalLahir %></p>
                    <p><%= dosen.programStudi %></p>
                    <p><%= dosen.alamat %></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
